@import "tailwindcss";

@theme {
  --color-primary: #FFB700;
  --color-secondary: #E2E8F0;
  --color-dark: #0F172A;
}

@layer utilities {
  .font-raleway {
    font-family: var(--font-raleway);
  }

  .font-inter {
    font-family: var(--font-inter);
  }
}